/target/
!.mvn/wrapper/maven-wrapper.jar
.mvn/wrapper/maven-wrapper.properties

.idea/
*.iml
*.iws
*.ipr
out/

.vscode/

*.log

.DS_Store
Thumbs.db

.env
.env.*
application-secret.yml

*.class
*.jar
*.war
*.ear
spring-boot-devtools.properties

/test-output/
